body{
	background-image: linear-gradient(rgba(0, 0, 0.5, 0.80),rgba(0.4, 0.2, 0.4, 0.6)), url("https://jgempel.github.io/powerlifting_background.png");
	
	opacity: 0.90;
	
	background-size: 180%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
